html,
body {
    width: 100%;
    margin: 0;
}

* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* SCROLL */
/* Width of the entire scrollbar */
::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb:horizontal {
    background: transparent;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #324158;
}

/* CONTAINER */
.container {
    max-width: 992px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

/* HEADING */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-weight: 300;
    zoom: 1.51;
}

h1 {
    line-height: 30px;
}

/* FONT WEIGHT */
.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}

/* COLOR */
.white-txt {
    color: #ffffff;
}

.white-bg {
    background: #ffffff;
}

.blue-txt {
    color: #324158;
}

.blue-bg {
    background: #324158;
}

/* SIZE */
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/* ICONS */
.material-symbols-outlined {
    font-size: 40px;
    zoom: 1;
}

.arrow_circle_down {
    position: fixed;
    left: 30px;
    top: 30px;
}

.arrow_circle_left,
.arrow_circle_right {
    position: absolute;
    margin-top: -20px;
    top: 50%;
}

.arrow_circle_left {
    left: 30px;
}

.arrow_circle_right {
    position: absolute;
    right: 30px;
}

/* MAIN */
main {
    padding-top: 100px;
}

main .container {
    justify-content: space-between;
    display: flex;
}

.left,
.right {
    display: flex;
}

.left {
    min-width: 596px;
}

.right {
    min-width: 364px;
    flex-direction: column;
}

.right h1 {
    margin: 50px 0 0;
}

.right h3,
.right h5 {
    margin: 0;
}

.right h6 {
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
}

.right img {
    margin-top: 32px;
    width: 364px;
}

.center {
    position: relative;
    padding: 32px 0 8px;
    margin: 32px 0;
}
.center:hover ::-webkit-scrollbar-thumb:horizontal {
  background: #ffffff;
}

.center .container>div {
    padding-bottom: 8px;
    overflow: auto;
    display: flex;
}

.center .container>div a {
    display: flex;
}

.center .container>div * {
    margin-right: 32px;
}

.center .container>div *:last-child {
    margin: 0;
}

.center img {
    width: 364px;
    height: fit-content;
}

.center .container .left {
    flex-direction: column;
    display: flex;
}

.center .container .left p {
    font-size: 12px;
    margin: 0;
}

.center .container .left p+p {
    margin-top: 8px;
}

/* FOOTER */
footer .container div {
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    margin-bottom: 50px;
}

footer p {
    margin: 0;
}

footer h2 {
    text-align: center;
}

footer span {
    margin: 0 5px;
}

footer img {
    width: 36px;
    margin-right: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.modal:target {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido {
    background: white;
    text-align: center;
    position: relative;
    padding: 32px;
    width: 55vw;
}

.close {
    position: fixed;
    right: 30px;
    top: 30px;
}

/* MOBILE */

@media (max-width: 991px) {
    /* HEADING */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        font-weight: 300;
        zoom: 1.25;
    }
    .right {
        min-width: auto;
    }
    .right img {
        margin-top: 16px;
    }
    .arrow_circle_down {
        left: auto;
        right: 32px;
        top: 140px;
    }
    main {
        padding-top: 0;
    }
    main .container .left {
        display: none;
    }
    main .container .right,
    main .container .right img {
        width: 100%;
    }
    .center {
        display: contents;
        margin: 16px 0;
    }
    .center .left {
        background: #324158;
        margin: 0 !important;
        position: relative;
        min-width: auto;
    }
    .center .container {
        background: #324158;
        margin: 16px 0;
        padding: 16px;
    }
    .center .container > div {
        overflow: hidden;
        display: block;
    }
    .center .container > div a {
        margin: 16px 0 0 !important;
        pointer-events: none;
    }
    .center span {
        display: none !important;
    }
    .center img {
        width: 100%;
    }
    footer {
        width: 100%;
        margin-bottom: 35px;
    }
}